sudo: false
language: node_js
node_js:
- '0.10'
env:
    global:
        - secure: "uU9pJ7IjebsIjCft0G47GUW4TTQyVRjt9G2iIsbw1Jfyi8RnjDumOEMRRieFDUYWR5faM9FuixVwFKYolEfmY7TxU0I1J5Lmbak5YUb4ELWFpQ83Ydk2oHHxlX7SEHxOsj1Y42IoMyych4cgf3iKRSc0Kx5KptpXH+yQgqQIZ6M="
        - secure: "xmM5XeT7lJJwna3PchyqXlJI55G7+LvMfkst1vjyHF2fSAv9Mr445LvEo4MePzpf4jLm3lGMpxVLuaYPRW3byGkjLOe/TzEASdJQJOIUxwlyYvn6H1n3dnaGA2uLgBufm9mN08qA5JHBSxxqkxHtcfrahwZMODoUVtt9E4fyqlo="
before_script:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
