sudo: false
language: node_js
node_js:
- '0.10'
env:
    global:
        - secure: "j17tHs7MhF1VuJ7ChImA0a3kd+uHPri2HJJxJ++PKCEF7pAu/cksMq9v3xQp9ZajPJJ0z4gTQnMjrzUSjhL11cpweBy84suA/vqjoh4Rp6ouV9yv/wThcij6GHd0S9MzYol6b3iR1CCauQpQwy+dff1HJvcGrcheuxD62EhVzoI="
        - secure: "3fkfH1qCQMVFJkyyGqq79+DwOiX0/Zor4iwHr0x1fRtqNgbx3r47znBHFUDTgKpCtLrCDBlyQvbisFdoV1/0DCtE0VfhphOnyOmWuMRNIrDLLGir+dwxiqpjdflyfs2ZKuxqkAhQJJclqL2hAaHWwollejAWVuhxJ4w1E6lcjYg="
before_script:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
