.note
#title
h1#title
div #title
#nsdecl a
#nsdecl * a
#nsdecl .example
div.example
ul .tocline2
.title
.toc
.toc .tocline2
div.example, div.note
body
div
body div
div p
div > p
div + p
div ~ p
div p a
div > p > a
div + p + a
div ~ p ~ p
div, p, a
ul.toc li.tocline2
ul.toc > li.tocline2
h1#title + div > p
h1[id]:contains(Selectors)
a[href][lang][class]
div[class]
div[class=example]
div[class^=exa]
div[class*=e]
div[class|=dialog]
div[class!=made_up]
div[class~=example]
div:not(.example)
div[class^=exa][class$=mple]
p:contains(selectors)
p:nth-child(n)
p:nth-child(2n)
p:nth-child(2n+1)
p:nth-child(odd)
p:only-child
p:last-child
p:first-child